data/
__pycache__/
mlruns/
notebooks/
.DS_Store
azureml_config.txt
src/python/pipeline/static/
src/python/local/deprecated/
src/python/local/static/dataset
src/python/local/static/dataset.zip
data_test/